<section class = "container" style= "padding-top:20px">

    <h1> Strain Comparison </h1>
    <h3 class= "lead"> Using YODA to analyze and share experimental data </h3>
  
  
    <p> This is the WIP comparison page </p>

    <section class = "container" style= "padding-top:20px">

        <h1> {{ vm.strain.name }} </h1>
        <h1> {{ strain.name }} </h1>
      
        <p> {{ vm.strain.description }} </p>
      
            <h6 class="text-center"> Comparison Graph: {{ vm.survivalIntegral}} </h6>
      
      
          </div>
      
          <div class = "col-7">
      
            <canvas id="line" class="chart chart-line" chart-data="vm.survivalValues"
            chart-labels="vm.timePoints" chart-series="vm.series" chart-options="vm.options">
            </canvas>
      
      
          </div>
      
        </div>
      
      </section>
  
  </section>