<section class = "container" style= "padding-top:20px">

  <h1> Instructions </h1>
  <h3 class= "lead"> Using YODA to analyze and share experimental data </h3>
  <p></p>

  <h4>Database</h4>
  <p>To view all the strians in the database click the database page, in the table click the strain name to view details</p>

  <h4>About</h4>
  <p>To get a quick run down of what this data means visit the about page</p>

  <h4>New Experiment</h4>
  <p>To upload a new stain click the home page then the new experiment button. This will bring you to the new experiment page. On this page enter the information in the top box. Then click the file upload button and upload the necessary files, these files need to be COMMA DELINIATED. enter the remianing information required in the box from top to bottom. THIS IS IMPORTANT TO HAVE TI AUTO FILL DATA FOR YOU!
    The files need to have a time column, n columns of data and a column labeled blank at the end. the number of columns of data needs to be divisable by the replication.

  </p>

  <h4>Things That Could be Improved</h4>
  <ul>
    <li>Error output when uploading files -- give the user an idea what they are doing wrong</li>
    <li>Remove from DB option</li>
    <li>Downloaded csv is very rudimentary should also put strain name in first column to allow for better usability after downloading it</li>
    <li>Can't download strains from db only able to download from experiment page. this could be done with very similar</li>
    <li>Output graph (the graph that displays all the strains at once) needs to be given a dynamic space to allow for large data sets</li>
  </ul>


</section>
